body{background-color:#555555;}

.search{
    position:absolute;
    width:450px;
    height:50px;
    left:calc(50% - 300px);
    top:calc(50% - 225px);
    font-size:40px;
    outline:none;
    transition:left 0.5s linear,width 0.5s linear;
    z-index: 0;
}

.btn{
    position:absolute;
    width:100px;
    height:100px;
    left:calc(50% + 100px);
    top:calc(50% - 250px);
    font-size:50px;
    background-color:#000000;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:left 0.5s linear;
    z-index: 1;
}