body{
    background-color:#555555;
}

#iptNum{
    position:absolute;
    width:500px;
    height:300px;
    left:calc(50% - 250px);
    background-color:#FFFFFF;
    border:5px ridge #5555FF;
    outline:none;
    font-size:40px;
    text-align:center;
}

#lv{
    position:absolute;
    left:calc(50% - 280px);
    top:370px;
    font-size:50px;
    text-align:right;
}

#setNum{
    position:absolute;
    width:500px;
    height:300px;
    left:calc(50% - 220px);
    top:250px;
    outline:none;
}

#getNum{
    position:absolute;
    width:300px;
    height:100px;
    left:calc(50% - 150px);
    top:500px;
    font-size:50px;
}