body{
    transition:background-color 2s linear;
    background-color:#FFFFFF;
}

#darkOrlight{
    position:absolute;
    width:80px;
    height:80px;
    left:calc(100% - 80px);
    top:10px;
    font-size:30px;
    background-color:#000000;
    color:#FFFFFF;
    transition:background-color 2s linear;
    border:0px solid;
    border-radius:40px;
}

.div-main{
    position:absolute;
    width:800px;
    height:800px;
    left:calc(50% - 410px);
    top:calc(50% - 410px);
    border:20px solid #000000;
    border-radius:400px;
    background-color:#FFFFFF;
    transition:background-color 2s linear,border-color 2s linear;
}

.clock-point{
    position:absolute;
    width:20px;
    height:20px;
    left:calc(50% - 10px);
    top:calc(50% - 10px);
    border:0px solid #FFFFFF;
    border-radius:10px;
    background-color:#000000;
    transition:background-color 2s linear;
}

.clock-hour{
    position:absolute;
    width:2px;
    height:200px;
    left:calc(50% - 2px);
    top:calc(50% - 200px);
    border:2px solid #000000;
    background-color:#FF0000;
    transition:transform 2s linear;
    transform-origin:50% 100%;
    transform:rotate(0deg);
}

.clock-minute{
    position:absolute;
    width:2px;
    height:280px;
    left:calc(50% - 2px);
    top:calc(50% - 280px);
    border:2px solid #000000;
    background-color:#00FF00;
    transition:transform 2s linear;
    transform-origin:50% 100%;
    transform:rotate(0deg);
}

.clock-second{
    position:absolute;
    width:2px;
    height:280px;
    left:calc(50% - 2px);
    top:calc(50% - 280px);
    border:2px solid #000000;
    background-color:#0000FF;
    transition:transform 2s linear;
    transform-origin:50% 100%;
    transform:rotate(0deg);
}

.clock-num{
    font-size:30px;
    color:#000000;
    transition:color 2s linear;
}
.num,.symbol{
    position:absolute;
    left:calc(50% - 10px);
    top:calc(0%);
    height:400px;
    position:absolute;
    transition:transform 2s linear;
    transform-origin:50% 100%;
    transform:rotate(0deg);
}