body{
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: #333333;
    color: #FFFFFF;
    font-size: 30px;
}

.selector{
    border: 2px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
}

.selector:hover{
    font-size: 35px;
    color: #5555FF;
    background-color: #111111;
}